<head>
	<meta charset="utf-8">
	<title>Éléphant - Restaurant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Éléphant, le tout premier restaurant Indien en Mauricie, offre une cuisine fraîche et honnête mettant à l’honneur les produits d’ici et les saveurs Indiennes.">


	<!-- OG, fav and touch icons -->
	<meta property="og:title" content=""/>
	<meta property="og:url" content="http://resto-elephant.com/"/>
	<meta property="og:image" content="http://resto-elephant.com/images/og-300.png"/>
	<meta property="og:site_name" content="Éléphant - Restaurant"/>
	<meta property="og:description" content="Éléphant, le tout premier restaurant Indien en Mauricie, offre une cuisine fraîche et honnête mettant à l’honneur les produits d’ici et les saveurs Indiennes."/>
	<link rel="apple-touch-icon" href="http://resto-elephant.com/images/ic-57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="http://resto-elephant.com/images/ic-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="http://resto-elephant.com/images/ic-114.png" />
	<link rel="apple-touch-icon-precomposed" href="" />
	<link rel="shortcut icon" href="/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">		
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <script src="/js/jquery-ie.js"></script>
	  <script src="/js/fix-ie.js"></script>
	<![endif]-->

</head>

<body class="home preaload">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div id="wrap-animation">
		<div id="wrap">
			<div class="wrapper-nav">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<a href="#wrap-animation" class="scrollto"><img src="/images/logo-mini.png" width="86" height="34" alt="Restaurant Éléphant" class="logo-fixed"/></a>
								<nav>
									<ul class="list-unstyled">
										<li class="first hidden-mobile"><a href="#about" class="scrollto bt-about">À propos</a></li>
										<li class="hidden-mobile"><a href="#menu" class="scrollto bt-menu">Menu</a></li>
										<li class="hidden-mobile"><a href="#photos" class="scrollto bt-photos">Photos</a></li>
										<li class="hidden-mobile"><a href="#nous-joindre" class="scrollto bt-nousjoindre">Nous joindre</a></li>
										<li class="li-facebook"><a href="https://www.facebook.com/restaurantelephant" class="bt-facebook" target="_blank"></a></li>
										<li class="visible-mobile">
											<div class="select-menu">
												<div class="select">
													<span>&nbsp;</span>
												</div>
												<select id="select-nav">
													<option value="#about">À propos</option>
													<option value="#menu">Menu</option>
													<option value="#nous-joindre">Nous joindre</option>
												</select>
											</div>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			<header id="accueil" class="hidden-mobile">
				<div id="custom-slider">
					<ul class="list-unstyled parallax-slider">
						<li id="bg-header" style="background-image:url(/images/bg-header.jpg);" class="fullscreen background parallax" data-img-width="2350" data-img-height="1470" data-diff="100"></li>
					</ul>
					<a class="scrollDown" onclick="$('html, body').animate({ scrollTop: $('#about').offset().top -50}, 800);"><span>&nbsp;</span></a>
				</div>
			</header>
			<header id="header-mobile" class="visible-mobile">
				<div class="row">
					<div class="col-lg-12">
						<img src="/images/logo.png" alt="Restaurant Éléphant" width="240" height="314"/>
					</div>
				</div>
			</header>
			
<section id="about">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="title-section"><strong>- Découvrez -</strong>notre histoire</h2>
			<div class="text">
				<p>Éléphant, le tout premier restaurant Indien en Mauricie, offre une cuisine fraîche et honnête mettant à l’honneur les produits d’ici et les saveurs Indiennes. Une équipe jeune, passionnée et créative travaillant toujours avec plaisir avec les aliments frais et une multitude d’épices de qualité pour concocter des plats  simples, faisant preuve d’une profondeur aromatique et d’un souci du travail bien fait. Le décor minimaliste et éclectique composé de plusieurs éléments recyclés, bruts et remaniés invite à la convivialité et à la familiarité. Un projet créé de toute pièce pour avant tout partager une passion pour la cuisine, le plaisir de la table et l’importance de prendre ce temps privilégié pour s’arrêter autour d’un repas avec ses proches.</p>
			</div>
		</div>
	</div>
</div>
</section>
<section style="background-image:url(/images/ambiance.jpg);" class="fullscreen background parallax bg-ambiance hidden-mobile spacer" data-img-width="2000" data-img-height="1000" data-diff="100"></section>
<section id="menu">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper-title">
				<h2>Notre Menu</h2>
				<div class="pastille-plats">
					<h3>Plats pour<strong>emporter</strong></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="text-menu">
				<p>Menu midi à l'ardoise, changeant à toutes les semaines selon la saison et les arrivages locaux. Possibilité de "take-out" midi & soir, servi dans des contenants écologiques.</p>
				<p><a href="https://www.facebook.com/restaurantelephant" target="_blank">Visitez notre page facebook</a> pour voir notre formule midi.</p><br/>
			</div>
			<ul class="wrapper-accordion list-unstyled">
				<li class="a-1">
					<a href="#" class="menu-accordion">Soupes</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Soupe du jour</h3>
								<p class="price">03</p>
							</li>
							<li>
								<h3>Courge carotte</h3>
								<p>Courge butternut, coco.</p>
								<p class="price">03</p>
							</li>
							<li>
								<h3>Lentilles, bouillon d’agneau</h3>
								<p>Légumes, piments forts.</p>
								<p class="price">03</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-2">
					<a href="#" class="menu-accordion">Entrées</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Samosa agneau</h3>
								<p>Pois, pommes de terre, citron.</p>
								<p class="price">04</p>
							</li>
							<li>
								<h3>Fish cakes</h3>
								<p>Croquettes de poisson, herbes fraîches, mayo épicée.</p>
								<p class="price">05</p>
							</li>
							<li>
								<h3>Crab Cakes</h3>
								<p>Croquettes de crabe, mayo épicée.</p>
								<p class="price">05</p>
							</li>
							<li>
								<h3>Hummus</h3>
								<p>Taboulé chou-fleur, oignons confits.</p>
								<p class="price">03</p>
							</li>
							<li>
								<h3>Salade fraîche</h3>
								<p>Mesclun, légumes croquants, dattes.</p>
								<p class="price">04</p>
							</li>
							<li>
								<h3>Fish Pakora</h3>
								<p>Mahi mahi frit, paprika fumé.</p>
								<p class="price">05</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-3">
					<a href="#" class="menu-accordion">Vegan</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Curry légumes</h3>
								<p>Lait de coco, curry vert.</p>
								<p class="price">08</p>
							</li>
							<li>
								<h3>Dhal</h3>
								<p>Mijoté de lentilles, légumes.</p>
								<p class="price">07</p>
							</li>
							<li>
								<h3>Curry pois chiches</h3>
								<p>Coco, cardamome, tamarin.</p>
								<p class="price">08</p>
							</li>
							<li>
								<h3>Salade noix-dattes</h3>
								<p>Mesclun, légumes croquants.</p>
								<p class="price">09</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-4">
					<a href="#" class="menu-accordion">Curry</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Poulet au beurre</h3>
								<p>Sauce crémeuse, cardamome.</p>
								<p class="price">13</p>
							</li>
							<li>
								<h3>Agneau Korma</h3>
								<p>Sauce au yogourt, noix torréfiées.</p>
								<p class="price">15</p>
							</li>
							<li>
								<h3>Curry vert de crevettes</h3>
								<p>Lime kéfir, citronelle, basilic thaï.</p>
								<p class="price">12</p>
							</li>
							<li>
								<h3>Poisson mangue & yogourt</h3>
								<p>Poisson blanc, sauce tomatée.</p>
								<p class="price">12</p>
							</li>
							<li>
								<h3>Popeye Paneer</h3>
								<p>Purée d'épinards, piments forts, fromage grillé.</p>
								<p class="price">09</p>
							</li>
							<li>
								<h3>Pilon de poulet Tika</h3>
								<p>Épices tika masala, citron, mayo.</p>
								<p class="price">12</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-5">
					<a href="#" class="menu-accordion">Riz</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Citron-cannelle-curcuma</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Safran-girofle</h3>
								<p class="price">03</p>
							</li>
							<li>
								<h3>Nature</h3>
								<p class="price">02</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-6">
					<a href="#" class="menu-accordion">Chutney & yogourt</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Chutney mangue</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Yogourt coriandre-menthe</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Yogourt blanc</h3>
								<p class="price">01</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-1">
					<a href="#" class="menu-accordion">Naan & papadum</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Nature</h3>
								<p class="price">1.25</p>
							</li>
							<li>
								<h3>À l’ail</h3>
								<p class="price">1.25</p>
							</li>
							<li>
								<h3>Papadum (4)</h3>
								<p class="price">0.75</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-2">
					<a href="#" class="menu-accordion">Lassi</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Lassi nature</h3>
								<p class="price">3.5</p>
							</li>
							<li>
								<h3>Lassi à la rose</h3>
								<p class="price">3.5</p>
							</li>
							<li>
								<h3>Lassi Chai</h3>
								<p class="price">04</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-3">
					<a href="#" class="menu-accordion">Thé</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Thé noir</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Thé jasmin</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Thé chai</h3>
								<p class="price">2.5</p>
							</li>
							<li>
								<h3>Chai latté</h3>
								<p>(chaud ou froid)</p>
								<p class="price">03</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-4">
					<a href="#" class="menu-accordion">Limonade &amp; jus</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Concombre-menthe</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>Lavande-romarin</h3>
								<p class="price">02</p>
							</li>
							<li>
								<h3>À la rose</h3>
								<p class="price">02</p>
							</li>
						</ul>
					</div>
				</li>
				<li class="a-7">
					<a href="#" class="menu-accordion">Desserts</a>
					<div class="after-accordion" style="display:none;">
						<ul class="list-unstyled">
							<li>
								<h3>Salade de fruit</h3>
								<p class="price">05</p>
							</li>
							<li>
								<h3>Dessert du jour</h3>
								<p class="price">03</p>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6">
					<div id="carousel-menu" class="carousel slide" data-ride="carousel">
					  	<!-- Indicators -->
					  	<ol class="carousel-indicators">
					    	<li data-target="#carousel-menu" data-slide-to="0" class="active"></li>
					    	<li data-target="#carousel-menu" data-slide-to="1"></li>
					    	<li data-target="#carousel-menu" data-slide-to="2"></li>
					    	<li data-target="#carousel-menu" data-slide-to="3"></li>
					  	</ol>

					  	<!-- Wrapper for slides -->
					  	<div class="carousel-inner">
					    	<div class="item active">
					      		<img src="/images/img-slider-1.jpg" alt="...">
					    	</div>
					    	<div class="item">
					      		<img src="/images/img-slider-4.jpg" alt="...">
					    	</div>
					    	<div class="item">
					      		<img src="/images/img-slider-3.jpg" alt="...">
					    	</div>
					    	<div class="item">
					      		<img src="/images/img-slider-2.jpg" alt="...">
					    	</div>
					  	</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6">
					<blockquote>
						Enfin les saveurs franches et complexes de cette merveilleuse gastronomie se retrouvent dans un restaurant Trifluvien plus que différent, du décor jusqu’aux plats.
					</blockquote>
				</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-lg-12">
		<h3 class="apporter-vin">N’oubliez pas d’apporter votre vin</h3>
	</div>
</div>
</section>
<section style="background-image:url(/images/ambiance5.jpg);" class="fullscreen background parallax bg-ambiance hidden-mobile" data-img-width="2000" data-img-height="1000" data-diff="100"></section>
<section id="photos" class="hidden-mobile">
<div class="container">
	<div class="row">
		<div class="col-md-12 wrapper-photo">
			<div class="photo-1">
				<img src="/images/photo-1.jpg" alt="Éléphant restaurant" width="560" height="730" />
			</div>
		</div>
		<div class="col-md-12 wrapper-photo">
			<div class="photo-2">
				<img src="/images/photo-2.jpg" alt="Éléphant restaurant" width="554" height="354" />
				<img src="/images/photo-3.jpg" alt="Éléphant restaurant" width="277" height="177" class="photo-3" />
			</div>
		</div>
		<div class="col-md-12 wrapper-photo">
			<div class="photo-4">
				<img src="/images/photo-4.jpg" alt="Éléphant restaurant" width="616" height="394" />
			</div>
		</div>
	</div>
</div>
</section>

			<footer id="nous-joindre">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="wrapper-title">
								<h2>Nous joindre</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<h3>Adresse</h3>
							<div class="adress">
								<a href="https://www.google.ca/maps/place/830+Boulevard+des+R%C3%A9collets,+Trois-Rivi%C3%A8res,+QC+G8Z+3W2/@46.3595195,-72.5711213,17z/data=!3m1!4b1!4m2!3m1!1s0x4cc7c8c1852561ed:0xe2a0e83a0db25b28" target="_blank">
									<h4>Éléphant</h4>
									<p>830 boulevard des Récollets <br/>Trois-Rivières, Qc  G8z 3w2</p>
								</a>
							</div>
							<div class="tel">
								<p>819.840.6923<br/><span>Veuillez prendre note que nous ne prenons pas de réservation</span></p>
							</div>
							<div class="mail">
								<a href="mailto:info@resto-elephant.com" target="_blank">info@resto-elephant.com</a>
							</div>
							<div class="facebook">
								<a href="https://www.facebook.com/restaurantelephant" target="_blank">/restaurantelephant</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<h3>Heures D'ouverture</h3>
							<div class="heures">
								<h4>Midi</h4>
								<p>Lundi au vendredi <br/>de 11h30 à 14h30</p><br/>
								<h4>Soir</h4>
								<p>Mercredi à samedi <br/>de 17h30 à 21h</p>
							</div>
						</div>
						<div class="col-md-6">
							<img src="/images/map.png" alt="Éléphant - 830 boulebard des Récollets Trois-Rivières, Qc  G8z 3w2"/>
						</div>
					</div>
				</div>
				<div id="copy">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<p>© Restaurant Éléphant, 2015. Tous droits réservés.</p>
								<a href="https://www.behance.net/pierluc" target="_blank" class="pl">Réalisation de <span>Pier-Luc Cossette</span></a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div class="bar-ie8">
		<div class="bar-upgrade">
			<div class="container">
				<p>Ce site c'est pas optimisé pour Internet Explorer 7 et 8. <a href="http://windows.microsoft.com/fr-ch/internet-explorer/download-ie" target="_blank">Une mise à jour est nécessaire, cliquez ici pour accéder aux plus récents navigateur</a></p>
			</div>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-51022003-1', 'resto-elephant.com');
	  ga('send', 'pageview');

	</script>			
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/affix.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/button.js"></script>
	<script src="/js/carousel.js"></script>
	<script src="/js/collapse.js"></script>
	<script src="/js/detect.js"></script>
	<script src="/js/scrollspy.js"></script>
	<script src="/js/jquery.mousewheel.js"></script>
	<script src="/js/pace.min.js"></script>
	<script src="/js/tab.js"></script>
	<script src="/js/tooltip.js"></script>
	<script src="/js/transition.js"></script>
	<script src="/js/css_browser_selector.js"></script>
	<script src="/js/script.js"></script>
</body>